doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Show website
        link(rel="stylesheet", href="assets/css/main.css")
    body
        include components/header/header.pug
        
        .wrapper
            include components/home/home.pug

        include components/layout/footer/footer.pug